    {% include "components/_header.html" %}

    {% include "components/_navbar.html" %}

    <div id="bubbles" class="text-center">
      <div class="container">
        <div class="section-title center">
          <h2>Welcome to the OrgSoft Dashboard</h2>
          <div class="line">
              <hr>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-0 bubble">
                <a href="frontdesk"><i class="fa fa-clock-o"></i></a>
                <h4>Timecard</h4>
                <p>Record and track timecard information</p>
            </div>
            <div class="col-md-3 col-sm-5 col-sm-offset-1 col-md-offset-0 bubble">
                <a href="case_notes"><i class="fa fa-folder-open-o"></i></a>
                <h4>Employee Reviews</h4>
                <p>Record and track employee review history</p>
            </div>
            <div class="col-md-3 col-sm-5 bubble">
                <a href="case_manager"><i class="fa fa-street-view"></i></a>
                <h4>Manage Employees</h4>
                <p>Manage and adjust employee information</p>
            </div>
            <div class="col-md-3 bubble">
                <a href="add_client"><i class="fa fa-user-plus"></i></a>
                <h4>Add new employee</h4>
                <p>Add a new employee to your organization</p>
            </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

    {% include "components/_basescript.html" %}
    {% include "components/_footer.html" %}