{% include "components/_header.html" %}

{% include "components/_navbar.html" %}

<br>
<div class="row">
	<h2><div id="employee-name" class="col-md-10"></div></h2>
	<h2><div id="employee-flsa" class="col-md-2"></div></h2>
</div>
<h2>Review History</h2>
<br>
<div><button id="add-file" class="btn btn-success" data-toggle="modal" data-target="#add-review-modal">Add New Review <i class="fa fa-plus" aria-hidden="true"></i></button></div>
<div class="modal fade" id="add-review-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        	<div class="modal-header">
            	Add Review
        	</div>
        	<div class="modal-body">
            	<div class="row">
            		<div class="form-group">
            		    <label class="control-label col-md-2">Review Date</label>
            		    <div class="col-md-4">
            		        <input type="text" class="form-control" name="review-date" id="review-date" />
            		    </div>
            		</div>
            		<div class="form-group">
            		    <label class="control-label col-md-2">Next Review Date</label>
            		    <div class="col-md-4">
            		        <input type="text" class="form-control" name="next-review-date" id="next-review-date" />
            		    </div>
            		</div>
            	</div>
            	<br>

        		<button class="btn btn-outline-primary" type="button" id="submit-review">Submit</button>
        		<button class="btn btn-outline-secondary" type="button" id="cancel-review" style="float: right;">Cancel</button>
    		</div>
    	</div>
	</div>
</div>
<br>
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-8" id="dt-search"></div>
			<div class="col-md-3">
			    <select class="form-control-sm input" id="export">
			        <option value="">Export Format</option>
			        <option value="copy">Copy</option>
			        <option value="csv">CSV</option>
			        <option value="excel">Excel</option>
			        <option value="pdf">PDF</option>
			        <option value="print">Print</option>
			    </select>
			</div>
			<div class="col-md-1" id="dt-buttons"></div>
		</div>
	</div>
	<table class="table table-bordered table-responsive table-condensed" id="Table" name="Table" style="display:none">
		<thead id="TableHeader" name="TableHeader">
			<tr>
				<th class="table-sort sorting">
			        <input type="text" placeholder="Review ID" size="11">
			        <p hidden>Review ID</p>
			    </th>
			    <th class="table-sort sorting">
			        <input type="text" placeholder="Reviewer" size="11">
			        <p hidden>Supervisor</p>
			    </th>
			    <th class="table-sort sorting">
			        <input type="text" placeholder="Review Date" size="12">
			        <p hidden>Last Review</p>
			    </th>
			    <th class="table-sort sorting"> 
			        <input type="text" placeholder="Next Review Date" size="15">
			        <p hidden>Upcoming Reveiw</p>
			    </th>
			    <th class="table-sort sorting">
			        <input type="text" placeholder="Review Status" size="14">
			        <p hidden>Review Status</p>
			    </th>
			    <th class="table-sort sorting">
			        <input type="text" placeholder="Days Till Next" size="14">
			        <p hidden>Days Until Review</p>
			    </th>
			    <th>Options</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div id="Top">
	    <a href="#" class="btn btn-primary">To Top</a>
	</div>
</div>

{% include "components/_basescript.html" %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" />
  <link rel="stylesheet" type="text/css" href="static/css/format.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

  <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>

  <script type="text/babel" src="static/js/reviewhistory.js"></script>
  <script type="text/babel" src="static/js/topbutton.js"></script>
{% include "components/_footer.html" %}